/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.phpintel/*
/nbproject/private/
storage/purify/*
nbproject/*
public/*
public/css/*
public/js/*
resources/assets/notes.md
resources/assets/sql/arkoni_script.sql
