/node_modules
/public/css/*
/public/js/*
/public/images/*
/public/fonts/*
/public/*.png
/public/*.ico
/public/storage
/public/mix-manifest.json
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.phpintel/*
/nbproject/private/
/storage/purify/*
storage/logs/
/nbproject/*
arkoni.loc.tar.gz
