/node_modules
/public/css/*
/public/js/*
/public/images/*
/public/fonts/*
/public/storage/*
/public/*.png
/public/*.ico
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.phpintel/*
/nbproject/private/
/storage/purify/*
storage/logs/
/nbproject/*
resources/assets/notes.md
resources/assets/sql/arkoni_script.sql
arkoni.loc.tar.gz
