// global
bgc_dark         = #000
bgc_light = #fff
bgc_main_menu = #d7d7d7
color_main_dark  = #000
color_main_light = #fff//#479c3f
border_bottom_selected = #ff5a09
shadow           = rgba(0, 0, 0, .35)

