@import "~bootstrap/dist/css/bootstrap.min.css"
@import "_colors"
@import "_variables"
@import "_background-images"
@import "_fonts"
@import "_mediaqueries"
@import "fontawesome-free-5.0.6/web-fonts-with-css/css/fontawesome-all.css"
@import "~trumbowyg/dist/ui/trumbowyg.css"

// Change link for label Browse

.custom-file-label[for="img_upload"]::after
    content: '...' !important

.admin-logo
    color color_main_light
    background-color bgc_dark

.main-menu
    background-color: bgc_main_menu
    li>a
        color color_main_dark
        border-bottom 2px solid transparent
        &:hover
            border-bottom 2px solid border_bottom_selected
