@import "~bootstrap/dist/css/bootstrap.min.css"
@import "fontawesome-free-5.0.6/web-fonts-with-css/css/fontawesome-all.css"
@import "~slick-carousel/slick/slick.css"
@import "~slick-carousel/slick/slick-theme.css"
@import "~bootstrap-rating/bootstrap-rating.css"

@import "site/_fonts.styl";
@import "site/_mix.styl";
@import "site/_other.styl";
@import "site/_error-404.styl";
@import "site/_main-menu.styl";
@import "site/_footer.styl";
@import "site/_header.styl";
@import "site/_front.styl";
@import "site/_catalog-and-category.styl";
@import "site/_sub-category-and-search.styl";
@import "site/_product.styl";
@import "site/_blog.styl";
@import "site/_contacts.styl";
@import "site/_about.styl";

