.about {
  h1 {
    block-title(15px)
  }
  p {
    text-indent 1.5em
  }
  strong {
    font-family bold-family
  }
  .advantage {
    list-style none
    padding-left: 1.5em;
    li {
      position relative
      &:before {
        content: '\F00C';
        position: absolute;
        font-family: 'Font Awesome 5 Free';
        font-weight: 900;
        font-size: 1em;
        color: #ff4e00;
        left: -22px;
        top: 2px;
      }
    }
  }
  .producers {
    padding-left: 0;
    list-style: none;
    overflow: auto;
    padding-bottom: 6px;
    display flex
    flex-wrap: wrap;
    li {
      width: 16%;
      text-align: center;
    }
    li:not(nth-child(1)) {
      margin 0 20px
    }
  }
  .breadcrumbs + .container {
    padding-bottom 10px
  }
}