.brigades {
  .title {
    block-title(15px)
  }
  p {
    text-indent: 1.5em;
  }
  .img-fluid {
    margin: 0 0 10px;
  }
  .advantage {
    list-style: none;
    padding-left: 1.5em;
    li {
      position: relative;
      &:before {
        content: '\F00C';
        position: absolute;
        font-family: 'Font Awesome 5 Free';
        font-weight: 900;
        font-size: 1em;
        color: #ff4e00;
        left: -22px;
        top: 2px;
      }
    }
  }
}

@media (max-width: 768px) {
  .brigades .title {
    font-size: 1.2em;
  }
}