.catalog, .category {
  .seo-block-1 {
    padding: 0 0 30px;
    .title {
      block-title(15px)
    }
    p {
      text-indent 1.5em
    }
  }
  .products {
    text-align center
    padding-bottom: 15px;
    .row > div {
      padding: 30px 15px 90px;
      &:hover {
        box-shadow: 0 1px 3px 2px rgba(0, 0, 0, 0.25);
      }
    }
    img {
      margin: 0 auto 15px;
      height: 160px;
    }
    .go-to {
      go-to()
      width 180px
      margin-top 20px
      position: absolute;
      bottom: 30px;
      left: 0;
      right: 0;
    }
    .name {
      font-size 1.125em
      font-family regular-family
    }
  }
  .seo-block-2 {
    background #e8e8e8
    padding 35px 0
    .title {
      block-title(15px)
    }
    p {
      text-indent 1.5em
    }
  }
  .services {
    padding-bottom 30px
  }
}

.catalog {
  .certificates {
    padding-top 40px
    .title {
      block-title(30px)
    }
    ul {
      list-style none
      padding-left: 0;
    }
    li {
      width 20%
      float left
    }
    img {
      display block
      margin 0 auto
    }
  }
}

@media (max-width: 1200px) {

}

@media (max-width: 992px) {
  .catalog .certificates li {
    width: 33.3%;
  }
}

@media (max-width: 768px) {
  .catalog, .category {
    .row > div > .title {
      font-size 1.125em !important
    }
  }

  .catalog .certificates li {
    width: 50%;
    margin-bottom 10px
  }
}

@media (max-width: 575px) {
  .catalog .services {
    padding-top: 0;
  }

  .catalog .seo-block-1,
  .category .seo-block-1 {
    padding: 0;
  }
}

@media (max-width: 440px) {
  .catalog .certificates li {
    width: 100%;
  }
}