.contacts {
  .brand {
    font-family bold-family
    font-size 1.5em
    margin-bottom 20px
  }
  .breadcrumbs + .container {
    text-align center
    padding-bottom 50px
    font-size 1.125em
    .fas {
      color orange-color-hover
      margin-right 10px
      transform: rotateY(160deg);
    }
  }
  .phones {
    list-style none
    a {
      color: base-color
    }
    .mail {
      margin-top 30px
    }
  }
}