.error-404 {
  .error-bg {
    background url("../images/arkoni-404-bg.png") no-repeat
    background-size cover
  }
  .block {
    background url("../images/eroor-404-sign.png") no-repeat
    background-size cover
    width 760px
    height 522px
    margin 30px auto
    text-align center
    padding-top 10%
  }
  .go-to-front {
    color: base-color
    text-decoration underline
    &:hover {
      text-decoration none
    }
  }
  .text-error {
    font-size: 2em;
    margin 0 0 15px
    line-height 1.2em
  }
  .to-front {
    font-size 1.5em
  }
  .number {
    color: #e2370e
    font-size 4.8em
    font-family bold-family
  }
}

@media (max-width: 1200px) {
  .error-404 .block {
    padding-top: 12%;
  }
}

@media (max-width: 992px) {
  .error-404 .block {
    padding-top: 13%;
    width: 100%;
    background-size 100%;
    height: 460px;
  }
}

@media (max-width: 768px) {
  .error-404 .block {
    padding-top: 15%;
    width: 100%;
    background-size: 100%;
    height: 100%;
    font-size: .7em;
    padding-bottom: 82px;
  }
}

@media (max-width: 575px) {
  .error-404 .block {
    background: none;
    padding-bottom: 30px;
    padding-top: 0;
  }
}