@font-face
  font-family OpenSans-Regular
  font-style normal
  src url(fonts/OpenSans-Regular/OpenSans-Regular.ttf)
  src url(fonts/OpenSans-Regular/OpenSans-Regular.eot)
  src url(fonts/OpenSans-Regular/OpenSans-Regular.woff)
  src url(fonts/OpenSans-Regular/OpenSans-Regular.svg)
  src url(fonts/OpenSans-Regular/OpenSans-Regular.woff2)

@font-face
  font-family OpenSans-Bold
  font-style normal
  src url(fonts/OpenSans-Bold/OpenSans-Bold.ttf)
  src url(fonts/OpenSans-Bold/OpenSans-Bold.eot)
  src url(fonts/OpenSans-Bold/OpenSans-Bold.woff)
  src url(fonts/OpenSans-Bold/OpenSans-Bold.svg)
  src url(fonts/OpenSans-Bold/OpenSans-Bold.woff2)

@font-face
  font-family OpenSans-Italic
  font-style normal
  src url(fonts/OpenSans-Italic/OpenSans-Italic.ttf)
  src url(fonts/OpenSans-Italic/OpenSans-Italic.eot)
  src url(fonts/OpenSans-Italic/OpenSans-Italic.woff)
  src url(fonts/OpenSans-Italic/OpenSans-Italic.svg)
  src url(fonts/OpenSans-Italic/OpenSans-Italic.woff2)