.footer {
  background-color: #202020;
  padding: 60px 0;
  site-logo(#ffffff, #ffffff)
  nav {
    ul {
      list-style: none;
      padding: 0;
      a {
        color: white;
        line-height: 2em;
      }
    }
  }
  .rating-block {
    color: white;
    margin-top: 4px;
  }
}

@media (max-width: 575px) {
  .footer {
    text-align: center;
    padding: 12px;
  }
}