.main-menu {
  background-color #393939
  nav {
    padding: 0;
    margin: 0;
    border: 0;
    width: 100%
    > ul {
      display: flex;
      justify-content: space-between;
    }
  }
  a {
    color: white
    padding: 11px 20px;
    font-size 1.125em
    display: block;
    line-height: 1em;
    text-decoration: none;
    &:hover {
      color orange-color-hover
    }
  }
  ul {
    position: relative;
    z-index: 597;
  }
  ul, li {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  .fa-bars {
    margin-left 10px
  }
  .open > ul {
    visibility: visible;
  }
  ul > li.hover,
  ul > li:hover {
    position: relative;
    z-index: 599;
    cursor: default;
  }
  ul {
    ul {
      visibility: hidden;
      position: absolute;
      top: 100%;
      left: 0;
      z-index: 598;
      width: 100%;
      bottom: 0;
      margin-top: 0;
      li {
        float: none;
        font-weight: normal;
      }
    }
  }
  .categories-items {
    max-width: 260px;
    min-width: 260px;
    ul {
      max-width: 400px;
      min-width: 400px;
    }
  }
  nav > ul ul ul {
    top: 0;
    left: 100%;
  }
  nav > ul li:hover > ul {
    visibility: visible;
  }
  nav:after, nav ul:after {
    content: '';
    display: block;
    clear: both;
  }
  nav > ul ul a {
    background: rgba(55, 68, 78, .8);
    line-height: 150%;
    padding: 8px 20px;
    height: 40px;
  }
  .menu-shadow {
    display none
  }
}

.main-menu.fixed {
  top: 0;
  position: fixed;
  width: 100%;
  z-index: 100;
  .open > ul {
    visibility: hidden;
  }
  nav > ul li:hover > ul {
    visibility: visible;
  }
}
@media (max-width: 1200px) {
  .main-menu {
    .open:hover .categories-items {
        visibility visible
    }
    a {
      padding: 11px 12px;
    }
    nav > ul ul a {
      padding: 8px 12px;
    }
    nav > ul.d-lg-flex {
      display: flex;
    }
  }
}

@media (max-width: 992px) {
  .main-menu {
    padding: 4px 0;
    .parent {
      margin-top 6px
    }
    .open > ul {
      display none
    }
    a {
      padding: 10px 0;
    }
    .navbar-toggler {
      color white;
      border-color white
      float: left;
      margin-right: 20px;
      i {
        margin-left: 0;
        padding-top: 6px;
      }
      &:hover {
        color: orange-color-hover
        border-color orange-color-hover
      }
    }
    .form-control {
      width: 100%;
      margin-right: 0 !important;
      right: 0;
      &::placeholder {
        color: #747474
        font-family italic-family
        font-size .875em
      }
    }
    .btn {
      background transparent
      position absolute
      right 15px
      top: 0;
      &:focus, &:active {
        box-shadow: none;
      }
    }
    .parent .fa-bars {
      display none
    }
  }
}

@media (max-width: 768px) {
  .main-menu {
    .language-switch {
      width: 100px;
      margin: 0 auto;
      height: 42px;
      &:hover {
        .active a {
          border-bottom transparent
        }
      }
      a {
        color: white
        font-family bold-family
        &:hover {
          text-decoration none
        }
      }
      li {
        float left
        margin-left 10px
        &:hover {
          border-bottom 3px solid orange-color-hover
        }
      }
      .active a {
        border-bottom 3px solid orange-color-hover
      }
    }
    .navbar-collapse {
      position: fixed;
      left: -240px;
      top: 0;
      height: 100%;
      background-color: #393939;
      padding: 20px 15px 0;
      z-index: 100;
      width 240px
      display: block;
      overflow-y: scroll;
      overflow-x: hidden;
    }
    .menu-shadow {
      position: fixed;
      left: 0;
      background: rgba(0, 0, 0, 0.2);
      z-index: 99;
      width: 100%;
      height: 100%;
      top: 0;
      right: 0;
      bottom: 0;
      cursor: pointer;
    }
    .logo {
      .text, .brand {
        fill: #fff;
      }
    }
  }
}

@media (max-width: 575px) {
  .main-menu {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 98;
  }
}