body {
  color base-color
  font-size base-size
  font-family regular-family
}

.rating-block {
  .rating-symbol {
    cursor: pointer;
  }
  .far.fa-star {
    color: orange-color-hover;
  }
  .fas.fa-star {
    color: orange-color-hover;
  }
  .stars {
    font-size: .825em;
  }
  .msg {
    display: none;
  }
}

.breadcrumbs {
  color: base-color
  .breadcrumb {
    background: transparent;
  }
  a {
    color: #333333
  }
  .active {
    font-family bold-family
    color: base-color
  }
  li {
    &:before {
      font-family regular-family
    }
  }
}

strong {
  font-family OpenSans-Bold, sans-serif
}