body {
  color base-color
  font-size base-size
  font-family regular-family
}

.rating-block {
  .rating-symbol {
    cursor: pointer;
  }
  .far.fa-star {
    color: orange-color-hover;
  }
  .fas.fa-star {
    color: orange-color-hover;
  }
  .stars {
    font-size: .825em;
  }
  .msg {
    display: none;
  }
}

.breadcrumbs {
  color: base-color
  .breadcrumb {
    background: transparent;
  }
  a {
    color: #333333
  }
  .active {
    font-family bold-family
    color: base-color
  }
  li {
    &:before {
      font-family regular-family
    }
  }
}

strong {
  font-family OpenSans-Bold, sans-serif
}

.pagination {
  margin 20px 0 0
  justify-content  flex-end
  .page-link {
    padding: 4px 10px;
  }
  a {
    color: base-color
  }
  .page-item {
    border d0d0d0;
    &:not(:nth-child(1)) {
      margin-left 15px
    }
    a {
      border-radius 5px
      &:hover {
        color: base-color
      }
    }
  }
  .page-item.active .page-link {
    border-color: #e8e8e8;
    background-color: #e8e8e8;
    color: base-color
    border-radius: 5px;
  }
}

#disqus_thread {
  width 100%
}

@media (max-width: 575px) {
  body {
    padding-top 48px
  }
  .breadcrumbs .breadcrumb {
    padding: .75rem 0 0;
    margin-bottom: 6px;
  }
}